body {
    font-family: 'Trebuchet MS';
    padding: 0;
    margin: 0;
}

.NormalText{
    text-align: center;
    
}
 
.heroc{
    width: 100%;
    height: 200px;
    margin: 0;
    text-align: center;
    line-height: 200px;
    padding: 0;
    background-image: url('https://images.immediate.co.uk/production/volatile/sites/23/2020/08/Beech-trees.-GettyImages-98871576-5cc0f6f.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-style: double;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    border-color: white;
    border-width: 15px;
}

.heroBackground {
    background-image: url('https://images.immediate.co.uk/production/volatile/sites/23/2020/08/Beech-trees.-GettyImages-98871576-5cc0f6f.jpg');
}

.heroText {
    margin: auto;
    color: white;

}

.cText {
    margin: auto;
    color: White;

}

.top {
    bottom:0;
    position: relative;
}

.center {
  align-items: center;
  left: 40%;
  text-align: center;
}

input[type="submit"] {
    background-color: yellowgreen;
    color: Black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.poemContainer {
    background-color: saddlebrown;
    width: 80%;
    padding: 10px;
    margin: 50px auto;
    border-style: dashed;
    border-color: whitesmoke;
    border-width: 2px;
}

.poemText {
    text-align: center;
    margin: 10px;
    font-size: 25px;
    color: black;
}



